node_modules/

package-lock.json

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
Thumbs.db

.npm/

*.tsbuildinfo

.env
.env.local
.env.*.local

/dist
/build

.vscode/
.idea/

*.swp